
{{!-- <h2 class = "story-body">Victim dots</h2> --}}
<div class='story-body'>
  <p class ='body-text'>Altogther 152 people chose to stand up and reveal these preptrators. They were these preptrators' students, interns, or female co-workers. Most of them are well-educated and from Beijing, Shanghai or Guangzhou, the so-called tier-one cities in China. All of them spoke out about their #MeToo stories with incredible courage and fought for change.</p>
</div>
<div class="chart-section.wide dark-theme scrollytelling">
    <div id="chart-03" class="chart">
    </div> 

    <div class="steps">
      {{!-- <div class='step'>
      </div> --}}
      <div class='step'  id='victim01'>
        <img src='/images/luoxixi.jpg'>
        <p class='caption'>Luo Xixi</p>
        <p class='second'>"It happened to me 12 years ago. I want to stand up so that no sisters behind me will be victims."</font></p>
        <p class='third'>-- LUO XIXI from Beihang University(BUAA)</p>
      </div>
      <div class= 'step'  id='victim02'>
        <p class='second'>"He pounced on me like a hungry wolf."</font></p>
        <p class='third'>-- GAO YAN, a former Peking University student</strong></p>
        <p>LI YOUYOU, a former sociology student at Peking University, has accused Shenyang of sexually assaulting Gao Yan, a friend of her, during his teaching at Peking University, and slandering Gao Yan for suffering from mental illness, leading to Gao's suicide.</p>
      </div>
      <div class= 'step'  id='victim03'>
        <img src='/images/xianzi.jpg'>
        <p class='caption'>Xianzi</p>        
        <p class='second'>Xianzi has been thinking about the book <i>"The Silence of the Lambs"</i> frequently. She is not only the victim as a "lamb", but also can save other girls from bad luck. If she doesn't stick to reporting on Zhu Jun, the screaming of lambs in her mind won't stop.</font></p>
        <p class='third'>-- Former CCTV intern XIANZI (pseudonym)</strong></p>
      </div>
      <div class= 'step'  id='victim04'>
        <img src='/images/jiangfangzhou.jpg'>
        <p class='caption'>Jiang Fangzhou, Writer</p>
        <br>
        <p class='second'>"Thanks to all those who support me. I was ready to "evaporate". In the past, the victims will bear the pressure of public opinion from all aspects of society, and I am afraid that I will collapse as a result. But fortunately, after me, more female victims have come forward, and I have also received the concern and support from a lot of people. I never fight alone. Now, even if someone still uses 'slut humiliation' to attack me, I will not be afraid any more. "</font></p>
        <p class='third'>-- "Little Elf"(pseudonym)</strong></p>
        <p>A woman wrote that Zhang Wen, a famous journalist in China, raped her after drinking in May 2018. After that, Writer JIANG FANGZHOU and journalist YI XIAOHE also revealed that Zhang Wen had sexually harassed them.</p>

      </div>
      <div class= 'step'  id='victim05'>
        <p class='second'>"I don't want to wear clothes at night. Master asked me to imagine how many times I slept with him. Now it has become a habit. "</font></p>
        <p class='third'>-- A text message sent to Shi Xuecheng by SHI XIANBING (pseudonym)<strong></p>
        <p></p>      
        </div>
      <div class= 'step'  id='victim06'>
        <p class='second'>"I just felt the endless darkness, fear, shame and disgust."</font></p>
        <p class='third'>-- LI YIYI<strong></p>
        <p>LI YIYI, who once studied in Qingyang No.6 middle school, jumped from a building to commit suicide on June 20, 2018, after which it was revealed that she had been indecently molested by Wu yonghou, the head teacher in charge of her school.</p>
      </div>
    </div>   
</div>

<script src="scripts/chart-03.js"></script>