
{{!-- <h2 class = "story-body">Victim dots</h2> --}}
<div class='story-body'>
  <p>Altogther 152 people chose to stand up and reveal these preptrators. They were these preptrators' students, interns, or female co-workers. Most of them are well-educated and from Beijing, Shanghai or Guangzhou, the so-called tier-one cities in China. All of them shared their #MeToo stories with incredible courage and fought for change.</p>
</div>
<div class="chart-section.wide dark-theme scrollytelling">
    <div id="chart-03" class="chart">
    </div> 

    <div class="steps">
      {{!-- <div class='step'>
      </div> --}}
      <div class='step'  id='victim01'>
        <img src='/images/luoxixi.jpg'>
        <p><font size="5">"It (the sexuall assault) happened to me 12 years ago. I want to stand up so that no sisters behind me will be victims."</font></p>
        <p><strong>-- LUO XIXI from Beihang University(BUAA)</strong></p>
      </div>
      {{!-- <div class= 'step'  id='victim02'>
        <p><font size="6">"He pounced on me like a hungry wolf."</font></p>
        <p><strong>-- GAO YAN, a former Peking University student</strong></p>
        <p>LI YOUYOU, a former sociology student at Peking University, has accused Shenyang of sexually assaulting Gao Yan, a friend of her, during his teaching at Peking University, and slandering Gao Yan for suffering from mental illness, leading to Gao's suicide.</p>
      </div> --}}
      <div class= 'step'  id='victim03'>
        <img src='/images/xianzi.jpg' >
        <p><font size="5">"Many people ask #MeToo victims why you don't make a report to the police immediately. I'm the one who did report to the police four years ago and I didn't receive any justice. Still there are people who instruct female victims to do this... but not men. I want to correct this by standing up."</font></p>
        </p><strong>-- Former CCTV intern XIANZI (pseudonym)</strong></p>
      </div>
      <div class= 'step'  id='victim04'>
        <p><font size="5">"When we met the first time, he said, 'you'll never get rid of being my woman. I've slept with more than 100 girls. "</font></p>
        <p><strong>-- Anonymous</strong></p>
        <p>A woman wrote that Zhang Wen, a famous journalist in China, raped her after drinking in May 2018. After that, Writer JIANG FANGZHOU and journalist YI XIAOHE also revealed that Zhang Wen had sexually harassed them.</p>
        <img src='/images/jiangfangzhou.jpg'>
      </div>
      <div class= 'step'  id='victim05'>
        <p><font size="5">"I don't want to wear clothes at night. Master asked me to imagine how many times I slept with him. Now it has become a habit. "</font></p>
        <p><strong>-- A text message sent to Shi Xuecheng by SHI XIANBING (pseudonym)<strong></p>
        <p></p>      
        </div>
      <div class= 'step'  id='victim06'>
        <p><font size="5">"I just felt the endless darkness, fear, shame and disgust."</font></p>
        <p><strong>-- LI YIYI<strong></p>
        <p>LI YIYI, who once studied in Qingyang No.6 middle school, jumped from a building to commit suicide on June 20, 2018, after which it was revealed that she had been indecently molested by Wu yonghou, the head teacher in charge of her school.</p>
      </div>
    </div>   
</div>

<script src="scripts/chart-03.js"></script>