<div class="story-body scrollytelling">
  <h2>2.Victim Map</h2>
    <p style="text-align: center"><img src="images/china.png"></p>
  
    {{!-- <div id="chart-02" class="chart">
    </div>   --}}
</div>

<script src="scripts/chart-02.js"></script>