<div class="story-body scrollytelling">
    <h2>1. Preptrator Chart By Month</h2> 
    <figure class="preptrator"></figure>
    <div class="steps">
       <div class="step" id="p1">
            <p>We are highlighting P1</p>
        </div>
        <div class="step" id="p2">
            <p>We are highlighting P2</p>
        </div>
        <div class="step" id="p3">
            <p>We are highlighting P3</p>
        </div>
        <div class="step" id="p4">
            <p>We are highlighting P4</p>
        </div>
        <div class="step" id="p5">
            <p>We are highlighting P4</p>
        </div>
    </div>
</div>

<script src="scripts/chart-01.js"></script>