<h2 class = "story-body">Victim dots</h2>
<div class="chart-section.wide grey-theme scrollytelling">
    <div id="chart-03" class="chart">
    </div> 

    <div class="steps">
      <div class='step'>
        <p><strong>Victim Cases:</strong></p>
        <ul>
          <li>On the graph left, we count each victim as a square dot.</li>
          <li>Each dot represents a real human being, either live or dead.</li>
          <li>We would like to show our upmost respect to those people who dedicated to 
those who spoke out about their #MeToo stories with incredible courage 
and those who fight for change with their actions.</li> 
        </ul>
      </div>
      <div class='step'  id='victim01'>
        <p><font size="6">"He said you know what, sex is really interesting, and then he's going to force me to have sex with him."</font></p>
        <p><strong>-- LUO XIXI from Beihang University(BUAA)</strong></p>
        <img scr='/images/luoxixi.jpg'>
      </div>
      <div class= 'step'  id= 'victim02'>
        <p><font size="6">"He pounced on me like a hungry wolf."</font></p>
        <p><strong>-- GAO YAN, a former Peking University student</strong></p>
        <p>Li YOUYOU, a former sociology student at Peking University, has accused Shenyang of sexually assaulting Gao Yan, a friend of her, during his teaching at Peking University, and slandering Gao Yan for suffering from mental illness, leading to Gao's suicide.</p>
      </div>
      <div class= 'step'  id= 'victim03'>
        <p><font size="6">"The more he said, the more excited he became. He began to try indecency through my clothes, regardless of my resistance."</font></p>
        </p><strong>-- Former CCTV intern XIANZI (pseudonym)</strong></p>
        <img scr='/images/xianzi.jpg'>
      </div>
      <div class= 'step'  id= 'victim04'>
        <p><font size="6">"When we met the first time, he said, 'you'll never get rid of being my woman. I've slept with more than 100 girls. "</font></p>
        <p><strong>-- Anonymous</strong></p>
        <p>A woman wrote that Zhang Wen, a famous journalist in China, raped her after drinking in May 2018. After that, Writer JIANG FANGZHOU and journalist YI XIAOHE also revealed that Zhang Wen had sexually harassed them.</p>
        <img scr='/images/jiangfangzhou.jpg'>
      </div>
      <div class= 'step'  id= 'victim05'>
        <p><font size="6">"I don't want to wear clothes at night. Master asked me to imagine how many times I slept with him. Now it has become a habit. "</font></p>
        <p><strong>-- A text message sent to Shi Xuecheng by SHI XIANBING (pseudonym)<strong></p>
        <p>A woman wrote that Zhang Wen, a famous journalist in China, raped her after drinking in May 2018. After that, Writer JIANG FANGZHOU and journalist YI XIAOHE also revealed that Zhang Wen had sexually harassed them.</p>      
        </div>
      <div class= 'step'  id= 'victim06'>
        <p><font size="6">"I just felt the endless darkness, fear, shame and disgust."</font></p>
        <p><strong>-- LI YIYI<strong></p>
        <p>LI YIYI, who once studied in Qingyang No.6 middle school, jumped from a building to commit suicide on June 20, 2018, after which it was revealed that she had been indecently molested by Wu yonghou, the head teacher in charge of her school.</p>
      </div>
    </div>   
</div>

<script src="scripts/chart-03.js"></script>