{{!-- <div class="story-body scrollytelling">
  
    <div id="chart-04" class="chart">
    </div>  
</div> --}}
<h2 class='subhead' style = 'text-align:center'>Legislation On Sexual Assasult in China</h2>  
{{!-- <section class="intro">
  <div class="container">
    <h2>Vertical Timeline </h2>
  </div>
</section> --}}

<section class="timeline">
  <ul>
    <li>
      <div >
        <time>1957</time>
        <p class='time-text'>
        <strong>Public Security Administration Punishment Regulations: </strong>
        <br><br>Anyone molests a woman with obscene words or behaviors shall be detained or warned for less than ten days
        </p>
      </div>
    </li>
    <li>
      <div>
        <time>1979</time>
        <p class='time-text'>
        <strong>Criminal Law: </strong>
        <br><br>Rape of women by violence, coercion or other means shall be punished by a term of imprisonment of three to ten years.
        </p>
      </div>
    </li>
    <li>
      <div>
        <time>1986</time>
        <p class='time-text'>
        <strong>Public Security Administration Punishment Regulations (Revised Edition): </strong>
        <br><br>Those who insult women shall be detained for less than 15 days, fined less than 200 yuan or receive a warning, and for less severe cases, they shall be punished by related organization.
        </p>      
      </div>
    </li>
    <li>
      <div>
        <time>1997</time>
        <p class='time-text'>
        <strong>Criminal Law (Revised Edition): </strong>
        <br><br>Those forcibly insults or insults women by violence, coercion, or other methods shall be sentenced to fixed-term imprisonment of not more than five years or detention.
        </p>
      </div>
    </li>
    <li>
      <div>
        <time>2001</time>
        <p class='time-text'>
        <strong>First sexual harassment case filed in China: </strong>
        <br><br>A woman in northwest China’s Shan'xi Province sued the general manager of her company for sexually harassing her. But after two months of trial, the court dismissed the charges for lack of evidence.
        </p>
      </div>
    </li>
    <li>
      <div>
        <time>2003</time>
        <p class='time-text'>
        <strong>First sexual harassment case in China that the plantiff wins: </strong>
        <br><br>A female English teacher in China’s Hubei Province accused her supervisor for sexual assault. The plaintiff won the case and the perpetrator was ordered to apologize to the victim and paid a fine of 2,000 yuan ($300)  for moral damages.
        </p>
      </div>
    </li>
    <li>
      <div>
        <time>2005</time>
        <p class='time-text'>
        <strong>First legislation in China on sexual harassment: </strong>
        <br><br>"Women's Rights Protection Law", which came into effect on December 1, 2005, states that "Sexual harassment against women is prohibited, and victims are entitled to lodge complaints with organizations. Public security organs shall punish the offenders in accordance with the law.
        </p>
      </div>
    </li>
    <li>
      <div>
        <time>2012</time>
        <p class='time-text'>
        <strong>Special regulations for female employees' labor protection: </strong>
        <br><br>The Chinese State Council states employers' obligations to prevent and stop sexual harassment towards female employees.
        </p>
      </div>
    </li>
  </ul>
</section>

<script src="scripts/chart-04.js"></script>