<div class="story-body scrollytelling grey-theme">
    <h2>Victim dots</h2>
    <div id="chart-03" class="chart">
    </div> 

    <div class="steps">
      <div class='step'>
        <p><strong>Victim Cases:</strong></p>
        <ul>
          <li>Each button should be turned into a step (scroll down to see them).</li>
          <li>When I resize, the graphic should scale to the <strong>width of its container, but not the height</strong>.</li>
          <li>It would be nice if you gave me a sentence to pretend this is a story instead of just "here's Africa!" Not that we have a strong story, of course.</li>
        </ul>
      </div>
      <div class='step'  id='victim01'>
        <p>We are highlighting victim01</p>
      </div>
      <div class= 'step'  id= 'victim02'>
        <p>We are highlighting victim02</p>
      </div>
      <div class= 'step'  id= 'victim03'>
        <p>We are highlighting victim03</p>
      </div>
      <div class= 'step'  id= 'victim04'>
        <p>We are highlighting victim04</p>
      </div>
      <div class= 'step'  id= 'victim05'>
        <p>We are highlighting victim05</p>
      </div>
    </div>   
</div>

<script src="scripts/chart-03.js"></script>