
<div class="story-body">
  <p></p>
</div>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
<div id='map'></div>
{{!-- <figure class="detector"></figure> --}}

<div class="story-body">
<p class='chart-source'>Source:  </p>
<p></p>
<script src="scripts/mapbox.js"></script>
</div>