<div class='story-body'>
     <p style = 'text-align:center; color:white'>All Images are from the Internet.</p> 
    <br>Chinese activists made a <a href="https://matters.news/@archivemetoo/2600%E9%A1%B5-%E4%B8%AD%E5%9B%BD%E7%B1%B3%E5%85%94%E6%9C%80%E5%85%A8%E5%8E%86%E5%8F%B2%E8%AE%B0%E5%BD%95-zdpuApaJtWDvhUs2j5ifSbNhcm2pMajkn3HEXejT7YDSZMCwc" style='color: white'><strong><u>backup</u></strong></a> for all the news related to #metoo movement so that the text and image records will never disappear in the future. 
    <br><br>Click <a href="https://drive.google.com/drive/folders/1UOiHZYcoAPTXD-_UBzcXDYT4MH1MaJCE?usp=sharing" style='color: white'><strong><u>here</u></strong></a> to download the full report (Chinese).
    {{!-- Unfortunately, the report is only in Chinese. --}}
    <br><br>Click <a href="https://mingligraphics.github.io/metoo/" style='color: white'><strong><u>here</u></strong></a> to see the full code of this project.</p>
</div>

<div class="footer">
    &copy; <a href="{{ meta.site }}">{{ meta.siteName }}</a> 2019</div>

{{!-- <div class='story-body'>
    <p style = 'text-align:center; color:white'></p>
</div> --}}