<div class='story-body'>
    <p></p>
    <p class ='body-text'>Experts have pointed out that sexual harassment cases are difficult to file in China as it is hard to obtain evidence. Plantiffs have lost most of the cases in history. Even when the victims won, compensations for such cases are merely 3,000 yuan ($400) on average. </p>
    <p class ='body-text'>All these have prevented victims from publicly defending their rights, as they could risk many things for nothing. The MeToo movement in 2018 was a rare oppotunity for victims to stand together and speak up. But unfortunately, support from the legal system was still missing in most cases. </p>
</div>

<div class='story-body'>
    <p class ='note'><strong style="background-color:rgb(223, 182, 79); color: black">Data Source</strong>
    <br style = "line-height:100px"><br>Chinese activists made a <a href="https://matters.news/@archivemetoo/2600%E9%A1%B5-%E4%B8%AD%E5%9B%BD%E7%B1%B3%E5%85%94%E6%9C%80%E5%85%A8%E5%8E%86%E5%8F%B2%E8%AE%B0%E5%BD%95-zdpuApaJtWDvhUs2j5ifSbNhcm2pMajkn3HEXejT7YDSZMCwc" style='color: white'><strong><u>backup</u></strong></a> for all the news related to #metoo movement so that the text and image records will never disappear in the future. 
    <br style = "line-height:100px"><br>Click <a href="https://drive.google.com/drive/folders/1UOiHZYcoAPTXD-_UBzcXDYT4MH1MaJCE?usp=sharing" style='color: white'><strong><u>here</u></strong></a> to download the full report.
    Unfortunately, the report is only in Chinese.
    <br style = "line-height:200px"><br>Click <a href="https://mingligraphics.github.io/metoo/" style='color: white'><strong><u>here</u></strong></a> to see the full code of this project.</p>
</div>

<div class="footer">
    &copy; <a href="{{ meta.site }}">{{ meta.siteName }}</a> 2019
</div>

<div class='story-body'>
    <p style = 'text-align:center; color:white'></p>
</div>