---
headline: "MeToo in China"
subhead: ""
published_date: "December 1, 2019"
site: ""
siteName: "MeToo in China"
url: ""
kicker: ""
author:
    name: "By Ming Li, Yinan Dong and Arun Karki"
    url: ""
    twitterHandle: ""
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

{{> story/basic }}

<!-- 
  Charts are exactly the same.
-->

{{> story/chart }}

<!-- 
  If you want to use something exported from ai2html...
    1. Rename the exported .html file to .hbs
    2. Put the .hbs file inside of 'html/story'
    3. Move the exported images to the images folder
    4. Include the partial normally like below
  -->

{{!-- {{> story/illustrator_demo }} --}}

<!--
  You can also put the actual HTML here if you really want to,
  although it's a little less organized looking
-->

<div class="story-body">
    <h2>2.Victim Map</h2>
    <p></p>
    <p style="text-align: center"><img src="images/china.png"></p>
   <h2>3.Timeline for Laws and Regulations</h2>
    <p></p>
    <p style="text-align: center"><img src=""></p>

</div>
